@import '~@fullcalendar/daygrid/main.css' ;

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.monserrat700{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.monserrat400{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.monserrat500{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.MuiGrid-spacing-xs-3{
    width: 100% !important;
    margin: 0px;
}

.btnPrimary{
    background-color: #47a5a5 !important;
}

.btnSecondary{
    background-color: #4384af !important;
}

.btnTertiary{
    background-color: #cbe3f3 !important;
    color: rgb(128, 128, 128) !important;
}