*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.monserrat700{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.MuiGrid-spacing-xs-3{
    width: 100% !important;
    margin: 0px;
}